:root {
  --primary: #2e5499;
  --secundary: #587fc7;
  --terceary: #fff;
}

.btn {
  padding: 10px 50px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 18px;
  color: var(--terceary);
  cursor: pointer;
  background-color: var(--primary);
}

.btn:hover {
  padding: 10px 50px;
  border-radius: 30px;
  transition: all 0.3s ease-out;
  color: var(--terceary);
  background-color: var(--secundary);
}
